
<h4>Teams managed by <%= @user.name %></h4><br><hr>


 <% @user.teams.each do |team| %> 
    <div class="container">
        
            
                <p>Team Name: <%= team.name %></p>
                <p></p>
            
           
                <p>Country: <%= team.country %></p>
                <p></p>
            
            
      
     <% user = User.find_by(id: session[:user_id]) %> 
     
       <% if team.user_id == user.id %>
         <div class="row">

            <button type="submit" >
                <a href="/teams/<%=team.id%>/edit">Update</a>
            </button>

            <form action="/teams/<%=team.id%>" method="post">
                <input type="hidden" name="_method" value="delete">
                <input type="submit" value="Delete">
            </form>
            </div>
        <% end %>


    </div>
    <br>
    <% end %>


<a href="/home">Back</a> <br/>

<a href="/logout">Logout</a>
